gridshib-saml-tools/ant-gridshib-saml-tools/library/java/src/org/globus/opensaml11/md/schemas/namemapper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:mace:shibboleth:namemapper:1.0" xmlns:namemapper="urn:mace:shibboleth:namemapper:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="NameMapping" type="namemapper:NameMappingType"/>
	<xs:complexType name="NameMappingType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="format" type="xs:anyURI" use="required"/>
		<xs:attribute name="id" type="xs:string" use="optional"/>
		<xs:attribute name="class" type="xs:string" use="optional"/>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:anyAttribute namespace="##any" processContents="lax"/>
	</xs:complexType>
</xs:schema>
