gridshib-saml-tools/ant-gridshib-saml-tools/library/java/src/org/globus/opensaml11/md/schemas/wayfconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema for the Shibboleth WAYF Service configuration file - Walter Hoehn - 06/14/2002 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
        <xs:element name="WayfConfig" >
                <xs:complexType>             
                	<xs:sequence>
                                <xs:element name="HelpText" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="SearchResultEmptyText" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="SearchIgnore" minOccurs="0" maxOccurs="1">
                                		<xs:complexType>
											<xs:sequence>
												<xs:element name="IgnoreText" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
                    			</xs:element>
                    </xs:sequence>
                    <xs:attribute name="supportContact" type="xs:string" use="optional"/>
                    <xs:attribute name="logoLocation" type="xs:string" use="optional"/>
                    <xs:attribute name="cacheType" type="xs:string" use="optional"/>
                    <xs:attribute name="cacheExpiration" type="xs:string" use="optional"/>
                    <xs:attribute name="cacheDomain" type="xs:string" use="optional"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
